body {
    display: flex;
    justify-content: center;
    align-items: center:center
}

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600 px;
    height: 600 px;
    border: 1px solid black;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify: flex;
    align-items: center;
}

.square:hover {
    cursor: pointer;
    background-color: #bbdefb;
}